<%= erb :'main/header' %>
<div id='info'>
<h1><%= @client['login'] %></h1>

<img src="<%= @client['avatar_url'] %>" width='100' height='100'>
<p><%= @client['name'] %></p>
<%= '<p>'+ @client['company']+ '</p>' if @client['company'] %>
<p><%= @client['location']  %></p>

<p>Member since: <%= Date.parse(@client['created_at']).strftime("%b %d, %Y") %></p>
</div>
<div id='repos'>
	<section id='own' class='repos'>
	<h1 title='hp'>Personal Repos</h1>
	</section>
	<section id='forked' class='repos'>
	<h1>Forked Repos</h1>
	</section>
</div>

<!-- d3 script for repos -->
<script src='/javascripts/d3Files/reposD3.js'></script>
