<%= erb :'main/header' %>

<h1><%= @client['login'] %></h1>

<p><%= @client['name'] %> <%= '| ' + @client['company'] if @client['company'] %></p>
<p><%= @client['location']  %></p>

<p>Github Member since: <%= Date.parse(@client['created_at']).strftime("%b %d, %Y") %></p>

<p> Followers: <%= @client['followers'] %></p>
<p> Followers: <%= @client['following'] %></p>
<img src="<%= @client['avatar_url'] %>" alt="">

<div id='repos'>
	<p>Number of Public Repositories: <%= @client['public_repos'] %></p>
	<section id='own' class='repos'>
	<h1>Personal Repos</h1>
	</section>
	<section id='forked' class='repos'>
	<h1>Forked Repos</h1>
	</section>
</div>

<!-- d3 script for repos -->
<script src='/javascripts/d3Files/reposD3.js'></script>
